<div class="flex items-center justify-between gap-3">
  <div class="w-8 h-8 bg-blue-100 rounded-full flex items-center justify-center flex-shrink-0">
    <span class="text-sm font-medium text-blue-600">{{ index() + 1 }}</span>
  </div>

  <div class="flex flex-col flex-1">
    <label
      for="{{ exercise()._id }}-weigth-{{ index() }}"
      class="block text-xs font-medium text-gray-500 mb-1"
      >Weight (kg)</label
    >
    <decimal-number-input
      id="{{ exercise()._id }}-weigth-{{ index() }}"
      [(model)]="set().weight"
      [min]="0"
      [max]="300"
      (modelChange)="onUpdateSet(exercise()._id!, index(), 'weight', $event)"
    />
    @if (previousMatchingSet()) {
      <span class="text-black opacity-70 text-xs mt-1"
        >Previous weight : {{ previousMatchingSet()?.weight }}kg</span
      >
    }
  </div>

  <div class="flex flex-col flex-1">
    <label
      for="{{ exercise()._id }}-reps-{{ index() }}"
      class="block text-xs font-medium text-gray-500 mb-1"
      >Reps</label
    >
    <decimal-number-input
      id="{{ exercise()._id }}-reps-{{ index() }}"
      [decimal]="false"
      [min]="0"
      [max]="50"
      [(model)]="set().reps"
      (modelChange)="onUpdateSet(exercise()._id!, index(), 'reps', $event)"
    />
    @if (previousMatchingSet()) {
      <span class="text-black opacity-70 text-xs mt-1"
        >Previous reps : {{ previousMatchingSet()?.reps }} reps</span
      >
    }
  </div>

  <p-button
    icon="pi pi-minus"
    (onClick)="onRemoveSet(exercise()._id!, index())"
    styleClass="p-button-rounded p-button-text p-button-danger p-button-sm"
    [text]="true"
  >
  </p-button>
</div>
